$fontBase: "Noto Sans";
$fontHeading: "Trade Winds";

.content {
    font-family: $fontBase, sans-serif;
}

.section-wrapper {
    margin: 0 auto;
    width: 900px;
}

/* typography */
h1 {
    font-family: $fontHeading, cursive;
}