!!!5
%html
    %head
        %title
            Cross Browser
        %link{ :href => 'css/base.css', :rel => 'stylesheet'}
        %link{ :href => 'css/reset.css', :rel => 'stylesheet'}
%body
    .content

        .background
            .section-wrapper
                Meaow